<app-navbar></app-navbar>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Our <span style="color: #f56133;">Team</span></h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 ">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/images/team/kritik.png" alt="card image"></p>
                                    <h4 class="card-title">Kritik Shivanshu</h4>
                                    <p class="card-text">Team Lead and Project Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Kritik Shivanshu</h4>
                                    <p class="card-text">A passionate developer who brings creative ideas from areas, including data storage, UI/UX design, and progressive web applications with a strong understanding of the entire web development process and adaptable to
                                        any work environment.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="http://github.com/kritik123">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/kritik-shivanshu-79385b167/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://kritik123.github.io/Portfolio-3/">
                                                <i class="fa fa-globe"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/kritikshivanshuofficial/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 ">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/images/team/anmol.png" alt="card image"></p>
                                    <h4 class="card-title">Anmol Gupta</h4>
                                    <p class="card-text">Front-End Developer</p>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Anmol Gupta</h4>
                                    <p class="card-text">A Front End developer and also is acquainted with different designing and editing Softwares. He Is creative and really good at problem solving.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/anmolguptaa">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/anmol-gupta-9397b6183/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/_._anmol_._._/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->


            <!-- Team member -->
            <div class="col-xs-12 col-sm-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/images/team/jaya.jpg" alt="card image"></p>
                                    <h4 class="card-title">Jaya Rai</h4>
                                    <p class="card-text">Technical Head</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Jaya Rai</h4>
                                    <p class="card-text">A Computer Science student having keen knowledge in Internet of Things(IoT) & Web Content Development</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/jaya-rai-0a0439171/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/jaya_rai_/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->


            <!-- Team member -->
            <div class="col-xs-12 col-sm-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/images/team/govinda.png" alt="card image"></p>
                                    <h4 class="card-title">Govinda Saxena</h4>
                                    <p class="card-text">Back-End Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Govinda Saxena</h4>
                                    <p class="card-text">A Back-End developer who brings creative ideas from areas, including Data Science, Machine Learning with strong understanding of entire development process and adaptable to any work environment.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/sarthak231020">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/govinda-saxena-a3a74a181/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/govinda.saxena/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ./Team member -->
        </div>